<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Flores para ti</title>
</head>
   <div class="nav-bar">
     <img src="../img/icono.png" alt="" class="nav-img">
     <ul class="nav-ul">
        <li> <a href="./nosotros.html">Nosotros</a></li>
        <li> <a href="./coleccion.html">Coleccion</a></li>
        <li> <a href="./contacto.html">Contacto</a></li>
     </ul>
   </div>

   <div class="grid_container">

    <div class="grid-item tall" style="background-image: url(./assets/img/alex-quezada-TFTz5fKXOVU-unsplash.jpg);"> </div>
    <div class="grid-item" style="background-image: url(./assets/img/sandro-gonzalez--YKlZ0w62Qk-unsplash.jpg);"> </div>
    <div class="grid-item" style="background-image: url(./assets/img/demi-he-hPcxvCecdPI-unsplash.jpg);" ></div>
    <div class="grid-item" style="background-image: url(./assets/img/joyous-chan-Y0z2uQfVwFo-unsplash.jpg);"> </div>
    <div class="grid-item" style="background-image: url(./assets/img/alina-karpenko-WCkWGoHHNOM-unsplash.jpg);"> </div>
    <div class="grid-item" style="background-image: url(./assets/img/larisa-birta-GhzYsSaqdjo-unsplash.jpg);"> </div>
    <div class="grid-item" style="background-image: url(./assets/img/rock-earth-FwbliMkH8Ec-unsplash.jpg);"> </div>
    <div class="grid-item tall " style="background-image: url(./assets/img/dong-cheng-krEjviclb4E-unsplash.jpg);"></div>
    <div class="grid-item" style="background-image: url(./assets/img/nick-karvounis-8PnMHV05UHU-unsplash.jpg);"> </div>
    <div class="grid-item tall" style="background-image: url(./assets/img/lysander-yuen-fBD9Wn0I2zY-unsplash.jpg);"> </div>
    <div class="grid-item" style="background-image: url(./assets/img/kevin-lanceplaine-p5nSxnq1uxs-unsplash.jpg);"> </div>
    <div class="grid-item tall" style="background-image: url(./assets/img/christie-kim-0IsBu45B3T8-unsplash.jpg);"></div>
    <div class="grid-item" style="background-image: url(./assets/img/hamide-jafari-kiBn11S_RKU-unsplash.jpg);"> </div>
    <div class="grid-item large" style="background-image: url(./assets/img/earl-wilcox-FsuGep77oRc-unsplash.jpg);"> </div>
    <div class="grid-item" style="background-image: url(./assets/img/haydn-golden-LfT2t-E08kw-unsplash.jpg)" > </div>

  </div>

<body>
    
</body>
</html>