<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Flores para ti</title>
</head>
   <div class="nav-bar">
     <img src="../img/icono.png" alt="" class="nav-img">
     <ul class="nav-ul">
        <li> <a href="./nosotros.html">Nosotros</a></li>
        <li> <a href="./coleccion.html">Coleccion</a></li>
        <li> <a href="./contacto.html">Contacto</a></li>
     </ul>
    </div>

    <div class="nosotros">
        <h1 class="ntext">Nosotros</h1>
    </div>

    <div class="mision">

      <p class="manostext">Nuestra mision es crear un espacio digital donde los clientes puedan <br>
        encontar los arreglos florares que los acompañaran en momentos especiales. <br>
        Mientras trabajamos en este objetivo, nos enfocamos en contruir un lugar de trabajo <br> 
        donde nuestos asociados se sientan comodos, felices y motivados. 

      </p>

      <div>
          <img src="../img/shane-rounce-DNkoNXQti3c-unsplash.jpg" alt="" class="manosarbol">
      </div>
  </div>

  <div class="vision">
  
      <p class="personastext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>
          Optio vitae sit laboriosam commodi repellendus excepturi facilis error. <br>
          Numquam sunt sint nobis provident? Maiores veritatis quia rem impedit fugiat, sapiente hic.</p>
          
          <div>
              <img src="../img/brooke-cagle--uHVRvDr7pg-unsplash.jpg" alt="" class="personas">
          </div>
  </div>

  <div class="valores">
  
      <p class="cuatrotext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>
          Optio vitae sit laboriosam commodi repellendus excepturi facilis error. <br>
          Numquam sunt sint nobis provident? Maiores veritatis quia rem impedit fugiat, sapiente hic.</p>
          
          <div>
              <img src="../img/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg" alt="" class="cuatro">
          </div>
  </div>


<body>
    
</body>
</html>