@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: linear-gradient(to left, #efd381, #ebd88a, #e8dd94, #e6e29e, #e4e6a8);
    height: 100vh;
}

img{
    width: 50px;

}

 .nav-bar{
    display: flex;
    flex-direction: row;
   
    width: 100%;
    
    
}
.nav-img{ 
    
    display: flex;
    margin-left:50px;

}

.nav-ul{
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin-left: 900px;
    
}


    


.back-img{
    background-image: url(/assets/img/scott-webb-hDyO6rr3kqk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width: 100vw;

}

.mensaje-b{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding-top: 20px;
} 

/* SECCION DE COMENTARIOS */

  .dospuntouno{

    color: #A0522D;
    font-size: large;
    font-style: oblique;
    height: 150px;
    width: 600px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-left: 100px;
    
}

.comentarios{
    
    color: #A0522D;
    font-size: medium;
    font-style: oblique;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.comenitems{

    margin-top: 150px;
    margin-left: 50px;
    width: 350px;
    height: 350px;
}

.imagencliente{
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}
    
.cliente{ 
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 150px;
} 

/* NOSOTROS */

.nosotros{
    
    height: 150px;
    display: flex;
    justify-content: center;
    color: #A0522D;
    font-size: x-large;
    font-style: oblique;

}

.ntext{
    margin-top: 10px;
}

.mision{
    
    height: 500px;
}

.manostext{
     margin-top: 20px;
     margin-left: 200px;
    color: #A0522D;
    font-size: large;
    font-style: oblique;
}

.manosarbol{
    
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 150px;
    margin-left: 900px;
        
}

.vision{
    
    height: 500px;
}

.personastext{
     margin-top: 40px;
     margin-left: 550px;
    color: #A0522D;
    font-size: large;
    font-style: oblique;
}

.personas{
    
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 150px;    
}

.valores{

    
    height: 500px;

}

.cuatrotext{

   margin-top: 20px;
   margin-left: 200px;
   color: #A0522D;
   font-size: large;
   font-style: oblique;

}

.cuatro{

    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 150px;
    margin-left: 900px;

}

/* COLECCION */

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A0522D;
    border-radius: 4px;
    border: solid #CD5C5C;
    padding: 3px;
    margin: 3px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.grid_container{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}

@media(min-width: 600px){
 .tall{
 grid-row: span 2;
 }

 .large{

 grid-column: span 2;
 }
}


/*FOOTER*/

.footer{
    padding: 40px 0;
}

.footer .social{

    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;

}

.footer .social a{

    font-size: 26px;
    color: inherit;
    /*border: 1px solid #ccc;*/
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    /*border-radius: 50px;*/
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
    
}

/*CONTACTO*/

.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

.contactUs .title h2{
    color: #A0522D;
}
.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}
.contact{
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px rgba(0, 0, 0, 0.15);
}
.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3{

    color: #A0522D;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/*FORMULARIO DE CONTACTO */

.formbox{ 
    position:relative;
    width: 100%;
}

.formbox .row50{
    display: flex;
    gap: 30px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formbox .row100 .inputBox{

    width: 100%;

}

.inputBox span{
    color: #A0522D;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #A0522D;
}

.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #A0522D;
    resize:none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputBox input[type="button"]{
    border: none;
    font-size: 1em;
    max-width: 120px;
    font-weight: 500;
}

/* Seccion de informacion */

.info{

    background: #F0E68C;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{

    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-right: 15px;
}

.info .infoBox div p{
    
    color: #A0522D ;
}

.info .infoBox div a {
    
    color: #A0522D;
    text-decoration: none;
}

.sci{
    margin-top: 40px;
    display: flex;
}

.sci li {
 list-style: none;
 margin-right: 15px;
}

.sci li a {

    color: #fff;
    font-size: 1.5em;
    color: #ccc;
}

.sci li a:hover{

    color: #fff;
}

.map{
    padding: 0%;
}

.map iframe{

    width: 100%;
    height: 100%;
}

@media (max-width: 991px){
 
.contactUs{
    padding: 20px;
}

.box
{
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form" "info" "map";
}

.map{
    min-height: 300px;
}

.formbox.row50{
    display: flex;
    gap: 0;
    flex-direction: column;
}

.inputBox{
    width: 100%;
}
}