*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: linear-gradient(to left, #efd381, #ebd88a, #e8dd94, #e6e29e, #e4e6a8);
    height: 100vh;
}